﻿@page "/login"
@using Services.Business;
@using System.ComponentModel.DataAnnotations;
@using System.Security.Claims;
@inject NavigationManager NavigationManager;

<h3>Login</h3>

<h3>Iniciar sesión</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
        <ValidationMessage For="@(() => loginModel.Email)" />
    </div>

    <div class="form-group">
        <label for="password">Contraseña:</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" @onclick="IniciarSesion">Iniciar sesión</button>
        <button class="btn btn-secondary" @onclick="Register">Registrarse</button>
    </div>
</EditForm>

@code {
    private string email;
    private string password;

    [Inject]
    private AdminUserService UserService { get; set; }


    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var validationResults = new List<ValidationResult>();
        var validationContext = new ValidationContext(loginModel);

        if (!Validator.TryValidateObject(loginModel, validationContext, validationResults, true))
        {
            return;
        }

        // Aquí puedes realizar la lógica para autenticar al usuario y manejar el resultado

        // Ejemplo básico de autenticación exitosa
        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name, loginModel.Email),
            // Agregar otros claims necesarios
        };

        var identity = new ClaimsIdentity(claims, "authentication");
        var user = new ClaimsPrincipal(identity);


        // Redirigir a la página principal u otra página deseada después del inicio de sesión exitoso
        //NavigationManager.NavigateTo("/");
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "El correo electrónico es obligatorio.")]
        [EmailAddress(ErrorMessage = "El correo electrónico no es válido.")]
        public string Email { get; set; }

        [Required(ErrorMessage = "La contraseña es obligatoria.")]
        public string Password { get; set; }
    }

    private void Register()
    {
        NavigationManager.NavigateTo("/registro");
    }

    private void IniciarSesion()
    {
        // Verificar si hay errores antes de continuar
        if (string.IsNullOrWhiteSpace(loginModel.Email) || string.IsNullOrWhiteSpace(loginModel.Password))
        {
            return; // No hagas nada si hay errores
        }

        // Utilizar el servicio para obtener el usuario
        var user = UserService.GetUserByEmailAndPassword(loginModel.Email, loginModel.Password);

        if (user != null)
        {
            // El usuario se encontró, hacer algo aquí, por ejemplo, redireccionar a otra página
            // o mostrar un mensaje de bienvenida, etc.
            Console.WriteLine("Inicio de sesión exitoso!");
            NavigationManager.NavigateTo("/login-exitoso");
        }
        else
        {
            // El usuario no se encontró, mostrar un mensaje de error o hacer algo en consecuencia
            Console.WriteLine("Credenciales inválidas. Intente nuevamente.");
        }

    }

    private void ValidateEmailAndSubmit()
    {
        //// Aquí puedes realizar la lógica de validación para el campo de email
        //// Por ejemplo, puedes verificar si el email es válido o cumple ciertas condiciones específicas
        //string emailValue = loginModel.Email;

        //// Ejemplo de validación simple: verificar si el email contiene un '@'
        //if (!emailValue.Contains("@"))
        //{
        //    // Si el email no es válido, muestras un mensaje de error
        //   // errorMessage = "El email no es válido.";
        //    return; // Detienes el proceso y no realizas la acción del botón
        //}

        //// Si el email es válido, puedes continuar con la acción del botón, por ejemplo, enviar el formulario
        ////errorMessage = ""; // Limpia el mensaje de error si estaba previamente
        //                   // Aquí puedes realizar la lógica para enviar el formulario o cualquier otra acción que necesites
        //                   // Por ejemplo, llamar a un método para realizar el inicio de sesión, etc.
        //SubmitForm();
    }

    //private async Task HandleLogin()
    //{
    //    // Aquí deberías realizar la lógica de autenticación real
    //    // Por simplicidad, en este ejemplo, solo se establecerá el estado de autenticación como autenticado con un usuario anónimo
    //    var identity = new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, "usuarioEjemplo") }, "Fake authentication type");
    //    var user = new ClaimsPrincipal(identity);

    //    // Actualiza el estado de autenticación con el usuario autenticado
    //    AuthenticationStateProvider.SetAuthenticationState(user);

    //    // Aquí puedes redirigir al usuario a la página de inicio después del inicio de sesión exitoso
    //    // Por ejemplo, si tienes una página llamada "Inicio", puedes usar NavigationManager para navegar a esa página.
    //    NavigationManager.NavigateTo("/");
    //}

}
