﻿@page "/productos"

<h1>Administrar Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Name</td>
                <td>@producto.Artist</td>
                <td>@producto.Usuario</td>
                <td>
                    <button @onclick="() => EditarProducto(producto)" class="btn btn-edit">Editar</button>
                    <button @onclick="() => EliminarProducto(producto)" class="btn btn-delete">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    /* Estilos de la tabla */
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f0f5f9;
        }

        .table tr:nth-child(even) {
            background-color: #f7f7f7;
        }

    /* Estilos de los botones */
    .btn {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
    }

    .btn-edit {
        background-color: #3490dc;
        color: #fff;
        margin-right: 6px;
    }

    .btn-delete {
        background-color: #e74c3c;
        color: #fff;
    }

    .btn:hover {
        opacity: 0.85;
    }
</style>

@code {
    private List<Producto> productos = new List<Producto>
    {
        new Producto { Id = 1, Name = "Album1", Artist = "Artista1", Usuario = "Usuario1" },
        new Producto { Id = 2, Name = "Album2", Artist = "Artista2", Usuario = "Usuario2" },
        new Producto { Id = 3, Name = "Album3", Artist = "Artista3", Usuario = "Usuario3" }
    };

    public class Producto
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Artist { get; set; }
        public string Usuario { get; set; }
    }

    private void AgregarProducto()
    {
        // Lógica para agregar un nuevo producto
    }

    private void EditarProducto(Producto producto)
    {
        // Lógica para editar el producto seleccionado
    }

    private void EliminarProducto(Producto producto)
    {
        // Lógica para eliminar el producto seleccionado
    }
}
