﻿@page "/transacciones"

<h1>Transacciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Comprador</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Comisión</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccion in transacciones)
        {
            <tr>
                <td>@transaccion.Comprador</td>
                <td>@transaccion.Vendedor</td>
                <td>@transaccion.Fecha.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@transaccion.Monto.ToString("C")</td>
                <td>@transaccion.Comision.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f0f5f9;
        }

        .table tr:nth-child(even) {
            background-color: #f7f7f7;
        }
</style>

@code {
    private List<Transaccion> transacciones = new List<Transaccion>
    {
        new Transaccion { Comprador = "Usuario1", Vendedor = "Usuario2", Fecha = DateTime.Now.AddDays(-1), Monto = 50.00m, Comision = 5.00m },
        new Transaccion { Comprador = "Usuario2", Vendedor = "Usuario3", Fecha = DateTime.Now, Monto = 75.50m, Comision = 7.50m },
        new Transaccion { Comprador = "Usuario3", Vendedor = "Usuario1", Fecha = DateTime.Now.AddHours(-2), Monto = 120.75m, Comision = 12.00m }
    };

    public class Transaccion
    {
        public string Comprador { get; set; }
        public string Vendedor { get; set; }
        public DateTime Fecha { get; set; }
        public decimal Monto { get; set; }
        public decimal Comision { get; set; }
    }
}
