﻿@page "/usuarios"
@using Services.Data;

<h1>Usuarios</h1>

<button @onclick="AgregarUsuario">Agregar Usuario</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in usuarios)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Name</td>
                <td>@usuario.Email</td>
                <td>
                    <button @onclick="() => EditarUsuario(usuario)">Editar</button>
                    <button @onclick="() => EliminarUsuario(usuario)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<User> usuarios = new List<User>
    {
        new User { Id = 1, Name = "Usuario1", Email = "usuario1@example.com", Password = "password1" },
        new User { Id = 2, Name = "Usuario2", Email = "usuario2@example.com", Password = "password2" },
        new User { Id = 3, Name = "Usuario3", Email = "usuario3@example.com", Password = "password3" }
    };


    private void AgregarUsuario()
    {
        // Lógica para agregar un nuevo usuario
    }

    private void EditarUsuario(User usuario)
    {
        // Lógica para editar el usuario seleccionado
    }

    private void EliminarUsuario(User usuario)
    {
        // Lógica para eliminar el usuario seleccionado
    }
}
