﻿@using Services.Business;
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VAND</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                @*                <li class="nav-item">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>*@
                @*                <li class="nav-item">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </li>*@
                <li class="nav-item">
                    <NavLink class="nav-link" href="publicar">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Publicar
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="lista-productos">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Lista
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="mis-productos">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Mis productos
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Cerrar sesión
                    </NavLink>
                </li>
                <!-- Agregar el contenedor para mostrar el nombre del usuario -->
@*                @if (userName != "")
                {
                    <li class="nav-item">
                        <span class="nav-link text-white">¡Bienvenido, @userName!</span>
                    </li>
                }*@
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;


    //[Inject]
    //private AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    [Inject]
    private UserService userService { get; set; }


    //private bool userAuthenticated => AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated;
    private string userName = ""; // Método para obtener el nombre del usuario

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        // Método llamado al inicializar el componente
        // Puedes obtener el nombre del usuario aquí
        // userName = userService.GetUserName();
    }

    //private async Task<string> GetUserFullName()
    //{
    //    var fullName = await userService.GetUserName();
    //    return fullName;
    //}

    private void GetUserName()
    {
        var fullName = userService.GetUserNameLogin();
    }
}
