﻿@page "/inicio-compra/{productoId}"

@using System.ComponentModel.DataAnnotations
@using Services.Data;
@using System.Text.Json;
@*@using Microsoft.EntityFrameworkCore.Metadata.Internal;*@
@inject NavigationManager Navigation
@*<PopupBuy @ref="popupRef" />*@

<h1 class="page-title">Inicio de Compra</h1>

@if (errors.Count > 0)
{
    <ul>
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

<div class="form-group">
    <label for="medioPago">Medio de Pago:</label>
    <select id="medioPago" @bind="medioPagoSeleccionado" class="form-control">
        <option value="tarjeta">Tarjeta</option>
        <option value="otro">Otro</option>
    </select>
</div>

@if (medioPagoSeleccionado == "tarjeta")
{
    <div class="form-group">
        <label for="nroTarjeta">Número de Tarjeta:</label>
        <input type="text" id="nroTarjeta" @bind="NroTarjeta" class="form-control" />
        @if (errors.Contains("tarjeta"))
        {
            <p class="text-danger">El número de tarjeta es obligatorio.</p>
        }
    </div>

    <div class="form-group">
        <label for="nombrePropietario">Nombre del Propietario:</label>
        <input type="text" id="nombrePropietario" @bind="NombrePropietario" class="form-control" />
        @if (errors.Contains("nombre"))
        {
            <p class="text-danger">El número de tarjeta es obligatorio.</p>
        }
    </div>

    <div class="form-group">
        <label for="codigoSeguridad">Código de Seguridad:</label>
        <input type="text" id="codigoSeguridad" @bind="Codigo" class="form-control" />
        @if (errors.Contains("código"))
        {
            <p class="text-danger">El número de tarjeta es obligatorio.</p>
        }
    </div>

    <div class="form-group">
        <label for="vencimiento">Fecha de Vencimiento:</label>
        <input type="text" id="vencimiento" @bind="AnioVencimiento" class="form-control" />
        @if (errors.Contains("vencimiento"))
        {
            <p class="text-danger">El número de tarjeta es obligatorio.</p>
        }
    </div>
}

<div class="button-container">
    <button @onclick="Volver" class="btn btn-secondary">Volver</button>
    <button @onclick="IniciarCompra" class="btn btn-primary">Iniciar Compra</button>
</div>

<!-- Agrega este código en tu archivo .razor -->
@*<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmación de Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas realizar la compra?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @onclick="RealizarCompra">Realizar Compra</button>
                </div>
            </div>
        </div>
    </div>*@

<style>
    .page-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .button-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }
</style>
<!-- Interfaz de usuario (HTML) -->
@code {

    [Parameter]
    public string ProductoId { get; set; }
    private List<string> errors = new List<string>();
    private string medioPagoSeleccionado = "tarjeta";
    [Required(ErrorMessage = "El número de tarjeta es obligatorio.")]
    [StringLength(16, ErrorMessage = "El número de tarjeta debe tener 16 dígitos.", MinimumLength = 16)]
    public string NroTarjeta { get; set; }

    [Required(ErrorMessage = "El nombre del propietario es obligatorio.")]
    public string NombrePropietario { get; set; }

    [Required(ErrorMessage = "El código es obligatorio.")]
    public string Codigo { get; set; }

    [Required(ErrorMessage = "El año de vencimiento es obligatorio.")]
    [Range(2023, 2100, ErrorMessage = "El año de vencimiento debe ser mayor o igual a 2023.")]
    public string AnioVencimiento { get; set; }
    private Product producto;

    private void Volver()
    {
        // Agrega la lógica para volver a la pantalla anterior
        // Por ejemplo: Navigation.NavigateTo("/lista-productos");
    }
    protected override void OnInitialized()
    {
        producto = ObtenerProductoPorId(int.Parse(ProductoId));
    }

    private Product ObtenerProductoPorId(int id)
    {
        // Aquí deberías implementar la lógica para obtener el producto por su ID
        // Retorna un objeto Product simulado para este ejemplo
        return new Product
            {
                Album = new Album
                {
                    Name = "Álbum Ejemplo",
                    Artist = "Artista Ejemplo",

                },
                Year = DateTime.Now,
                //Pictures = "https://contentv2.tap-commerce.com/cover/large/858978005219_1.jpg?id_com=1156",
                Description = "Descripción del producto de ejemplo"
            };
    }

    private void IniciarCompra()
    {
        if(medioPagoSeleccionado == "tarjeta")
        {
            if (string.IsNullOrWhiteSpace(NroTarjeta))
            {
                errors.Add("El número de tarjeta es obligatorio.");
            }

            if (string.IsNullOrWhiteSpace(NombrePropietario))
            {
                errors.Add("El precio es obligatorio.");
            }
            if (string.IsNullOrWhiteSpace(Codigo))
            {
                errors.Add("El precio debe ser un número válido.");
            }
            if (string.IsNullOrWhiteSpace(AnioVencimiento))
            {
                errors.Add("El año de vencimiento es obligatorio.");
            }
        }
        if(errors.Count == 0)
        {
            CreditData datosTarjeta = new CreditData
            {
                Number = int.Parse(NroTarjeta),
                UserOwner = new User()
            };
            Navigation.NavigateTo($"/pantalla-confirmacion/{ProductoId}/{Uri.EscapeDataString(JsonSerializer.Serialize(datosTarjeta))}");
        }


        //Navigation.NavigateTo("/pantalla-confirmacion");
        
        //NavigationManager.NavigateTo($"/detalle-producto/{producto.Id.ToString()}");
        //if (medioPagoSeleccionado == "tarjeta")
        //{
        //    var validationContext = new ValidationContext(this);
        //    var validationResults = new List<ValidationResult>();

        //    if (!Validator.TryValidateObject(this, validationContext, validationResults, true))
        //    {
        //        // Maneja las validaciones fallidas aquí
        //        return;
        //    }
        //}

        // Agrega la lógica para iniciar la compra
    }


    private void RealizarCompra()
    {
        //mostrarModalConfirmacion = false;

        if (medioPagoSeleccionado == "tarjeta")
        {
            var validationContext = new ValidationContext(this);
            var validationResults = new List<ValidationResult>();

            if (!Validator.TryValidateObject(this, validationContext, validationResults, true))
            {
                // Maneja las validaciones fallidas aquí
                return;
            }
        }

        // Agrega la lógica para iniciar la compra
    }


}