﻿@page "/compra-exitosa"
@inject NavigationManager Navigation
<div class="success-container">
    <div class="success-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
    </div>
    <h1>¡Compra Exitosa!</h1>
    <p>Tu compra ha sido procesada con éxito.</p>
    <button class="btn btn-primary" @onclick="Volver">Volver</button>
</div>

<style>
    .success-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f7f7f7;
    }

    .success-icon {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4caf50;
        border-radius: 50%;
        margin-bottom: 20px;
    }

        .success-icon svg {
            width: 60px;
            height: 60px;
            color: #fff;
        }


    h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .btn {
        padding: 12px 24px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .btn-primary {
        background-color: #3490dc;
        color: #fff;
    }

        .btn-primary:hover {
            background-color: #2779bd;
        }
</style>

@code {
    private void Volver()
    {
        Navigation.NavigateTo("/lista-productos");
    }
}
