﻿@page "/pantalla-confirmacion/{productoId}/{datosTarjeta}"
@using Services.Business;
@using Services.Data;
@using System.Text.Json;
@inject NavigationManager Navigation
<h1>Confirmación de Compra</h1>

<div class="confirmation-container">
    <ul class="text-list">
        <li>Vinilo Master of Puppets edición original muy bueno</li>
        <li>Disco: Master of Puppets</li>
        <li>Artista: Metallica</li>
        <li>precio: $30.000</li>
        <!-- Agrega más elementos de texto aquí -->
    </ul>

    <div class="button-container">
        <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
        <button class="btn btn-primary" @onclick="Confirmar">Confirmar</button>
    </div>
</div>

<style>
    .confirmation-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .text-list {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .btn {
        padding: 10px 20px;
        margin-left: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }
</style>

@code {

    [Parameter]
    public string ProductoId { get; set; }
    [Parameter]
    public string DatosTarjeta { get; set; }

    private CreditData tarjetaDatos;

    [Inject]
    private UserService UserService { get; set; }

    [Inject]
    private ProductService productService { get; set; }

    [Inject]
    private TransactionService transactionService { get; set; }

    protected override void OnInitialized()
    {
        tarjetaDatos = JsonSerializer.Deserialize<CreditData>(Uri.UnescapeDataString(DatosTarjeta));
    }

    private void Cancelar()
    {
        // Agrega la lógica para cancelar la compra o redirigir
    }

    private void Confirmar()
    {
        var product = productService.GetProductById(int.Parse(ProductoId));
        transactionService.GenerateTransaction(product);
        Navigation.NavigateTo("/compra-exitosa");
    }
}
