﻿@page "/"

<div class="welcome-section">
    <h1 class="welcome-title">Bienvenido a Vand</h1>
    <p class="welcome-description">La Nueva Experiencia en Formato Físico</p>
    <p class="welcome-tagline">Explora nuestra selección única de productos y sumérgete en la calidad y la pasión.</p>
    <button class="btn btn-primary" @onclick="Empezar">¡Empecemos!</button>
</div>

<style>
    .welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f5f5f5;
        text-align: center;
    }

    .welcome-title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .welcome-description {
        font-size: 24px;
        margin-bottom: 20px;
        color: #6c757d;
    }

    .welcome-tagline {
        font-size: 18px;
        margin-bottom: 40px;
        color: #888;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>

@code {
    private void Empezar()
    {
        // Agrega la lógica para redirigir a la siguiente página o realizar alguna acción
    }
}
