﻿@page "/lista-productos"
@using Services.Business;
@using Services.Data;
@using static Services.Business.ProductService;
@inject NavigationManager NavigationManager

<h1>Listado de Productos</h1>

<div class="table-container">
    <div class="filter-container">
        <div class="filter-input">
            <label for="filtroNombre">Nombre:</label>
            <input type="text" id="filtroNombre" @bind="filtroNombre" />
        </div>
        <div class="filter-input">
            <label for="filtroArtista">Artista:</label>
            <input type="text" id="filtroArtista" @bind="filtroArtista" />
        </div>
        <div class="filter-input">
            <label for="filtroAño">Año:</label>
            <input type="number" id="filtroAño" @bind="filtroAño" placeholder="Año" />
        </div>
        <div class="filter-input">
            <button class="filter-button" @onclick="Buscar">Buscar</button>
        </div>
    </div>
    @if (isErrorMessage)
    {
        <div class="error-message">
            @message
        </div>
    }
    else if (productosFiltrados.Count == 0)
    {
        <div class="no-products-message">
            @message
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Artista</th>
                <th>Año</th>
                <th>Descripción</th>
                <th></th> <!-- Columna para el botón de Ver Detalle -->
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productosFiltrados)
            {
                <tr>
                    <td>@producto.Album.Name</td>
                    <td>@producto.Album.Artist</td>
                    <td>@producto.Year.Year</td>
                    <td>@producto.Description</td>
                    <td><button class="detalle-button" @onclick="() => VerDetalle(producto)">Ver Detalle</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-input {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

        .filter-input label {
            font-weight: bold;
            display: block;
            margin-right: 5px;
        }

        .filter-input input {
            padding: 5px;
            width: 150px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .filter-button {
        padding: 8px 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .filter-button:hover {
            background-color: #0056b3;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .detalle-button {
        padding: 6px 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .detalle-button:hover {
        background-color: #45a049;
    }
</style>

@code {
    private string filtroNombre = "";
    private string filtroArtista = "";
    private string filtroAño = "";
    private List<Product> productosFiltrados;

    [Inject]
    private ProductService _productService { get; set; }

    // Aquí debes tener una lista de productos (puedes reemplazar esto con tus datos reales)
    //private List<Product> productos = new List<Product> 
    //{
    //    new Product
    //    {
    //        Id = 1,
    //        Album = new Album { Name = "Album1", Artist = "Artista1" },
    //        Year = DateTime.Now,
    //        Description = "Descripción del producto 1"
    //    },
    //    new Product
    //    {
    //        Album = new Album { Name = "Album2", Artist = "Artista2" },
    //        Year = DateTime.Now,
    //        Description = "Descripción del producto 2"
    //    },
    //    // ...
    //};
    private List<Product> productos = new List<Product>();
    protected override void OnInitialized()
    {
        ObtenerProductos();
        FiltrarProductos();
    }

    private void FiltrarProductos()
    {
        productosFiltrados = productos.Where(producto =>
            producto.Album.Name.Contains(filtroNombre, StringComparison.OrdinalIgnoreCase) &&
            producto.Album.Artist.Contains(filtroArtista, StringComparison.OrdinalIgnoreCase) &&
            (string.IsNullOrEmpty(filtroAño) || producto.Year.Year.ToString() == filtroAño))
            .ToList();
    }

    private void VerDetalle(Product producto)
    {
        // Aquí puedes implementar la lógica para mostrar el detalle del producto
        // Puede ser una redirección a otra página o un cuadro de diálogo, por ejemplo
        NavigationManager.NavigateTo($"/detalle-producto/{producto.Id.ToString()}");
    }

    private void Buscar()
    {
        FiltrarProductos();
    }

    private void ObtenerProductos()
    {
        UserProductsResult userProductsResult = new UserProductsResult();
        userProductsResult = _productService.GetProductsNotBelongingToUserAsync();
        if (userProductsResult.Products.Count > 0)
        {
            productos = userProductsResult.Products;
        }
        else
        {
            message = userProductsResult.Message;
        }
    }

    private bool isErrorMessage = false;

    private void HandleMessageChange()
    {
        isErrorMessage = !string.IsNullOrWhiteSpace(message) && message.ToLower().Contains("error");
    }

    private string message = "No se encontraron productos.";

    private string Message
    {
        get => message;
        set
        {
            message = value;
            HandleMessageChange();
        }
    }
}
