﻿@page "/logout"
@using Services.Business;

<h3>¡Gracias por usar nuestra aplicación!</h3>
<p>¿Estás seguro de que deseas cerrar sesión?</p>
<button class="btn btn-primary" @onclick="Logoust">Cerrar sesión</button>

@code {

    [Inject]
    private UserService _userService { get; set; }

    private void Logoust()
    {
        _userService.Logout();
    }
}