﻿@page "/publicacion-exitosa"
@inject NavigationManager Navigation

<div class="success-container">
    <div class="success-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
    </div>
    <h1>¡Publicación Exitosa!</h1>
    <p>Tu producto ha sido publicado con éxito.</p>
    <button class="btn btn-primary" @onclick="Volver">Volver</button>
</div>

<style>
    .success-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f7f7f7;
    }

    .success-icon {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4caf50;
        border-radius: 50%;
        margin-bottom: 20px;
    }

        .success-icon svg {
            width: 60px;
            height: 60px;
            color: #fff;
        }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>

@code {
    private void Volver()
    {
        // Agrega la lógica para volver a la pantalla anterior o redirigir
        Navigation.NavigateTo("/lista-productos");
    }
}
