﻿@page "/detalle-producto/{productoId}"
@using Services.Business;
@using Services.Data;
@inject NavigationManager Navigation

<h1 class="page-title">Detalle del Producto</h1>

@if (!userService.IsUserLoggedIn())
{
    <p class="error-message">Usted debe estar logueado.</p>
    <button @onclick="Volver" class="btn btn-secondary">Volver</button>
}
else
{
    @if (producto != null)
    {
        <div class="product-container">
            <div class="product-image">
                @*<img src="@producto.Pictures" alt="@producto.Album.Name" class="product-img" />*@
                @if (!string.IsNullOrEmpty(@producto.Picture))
                {
                    <img src="@($"data:image/png;base64,{@producto.Picture}")" alt="Image">
                }
                else
                {
                    <p>No hay imagen para mostrar.</p>
                }
            </div>
            <div class="product-details">
                <h2>@producto.Album.Name</h2>
                <p><strong>Artista:</strong> @producto.Album.Artist</p>
                <p><strong>Año:</strong> @producto.Year.Year</p>
                <p>@producto.Description</p>
                <div class="buttons">
                    @if (!userService.GetUser().Productos.Contains(producto))
                    {
                        @if(producto.isInSale)
                        {
                            <button @onclick="IniciarCompra" class="btn btn-primary">Iniciar Compra</button>
                        }
                        else
                        {
                            <label>Este producto no esta a la venta</label>
                        }
                    }
                    else
                    {
                        @if(!producto.isInSale)
                        {
                            <button @onclick="CambiarEstado" class="btn btn-primary">Poner en venta</button>
                        }
                        else
                        {
                            <button @onclick="CambiarEstado" class="btn btn-warning">Remover de la venta</button>
                        }
                        <button @onclick="IniciarCompra" class="btn btn-danger">Eliminar</button>
                    }
                    
                    <button @onclick="Volver" class="btn btn-secondary">Volver</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Producto no encontrado.</p>
    }
}
<style>
    .page-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-container {
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .product-img {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }

    .product-details {
        flex: 2;
        padding-left: 20px;
    }

        .product-details h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .product-details p {
            font-size: 18px;
            margin-bottom: 10px;
        }

    .buttons {
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin:5px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

    .error-message {
        color: red;
        font-weight: bold;
        /* Otros estilos según tus preferencias */
    }
</style>

@code {
    [Parameter]
    public string ProductoId { get; set; }

    private Product producto;


    private List<string> imagenes;
    private int imagenIndex;
    private string imagenActual;

    [Inject]
    private UserService userService { get; set; }

    [Inject]
    private ProductService _productService { get; set; }

    private void CambiarImagenAnterior()
    {
        imagenIndex = (imagenIndex - 1 + imagenes.Count) % imagenes.Count;
        imagenActual = imagenes[imagenIndex];
    }

    private void CambiarImagenSiguiente()
    {
        imagenIndex = (imagenIndex + 1) % imagenes.Count;
        imagenActual = imagenes[imagenIndex];
    }

    private List<string> ObtenerImagenesDelProducto(int productoId)
    {
        // Aquí deberías implementar la lógica para obtener las imágenes del producto
        // Retorna una lista de URLs de imágenes relacionadas con el producto
        // Ejemplo:
        return new List<string>
    {
            "https://contentv2.tap-commerce.com/cover/large/858978005219_1.jpg?id_com=1156",
            "https://http2.mlstatic.com/D_NQ_NP_817731-MLU69139265790_042023-O.webp",
            // ...
        };
    }

    protected override void OnInitialized()
    {
        // Simula la obtención de datos del producto según el ID proporcionado
        // Debes reemplazar esto con tu lógica real para obtener los detalles del producto
        producto = ObtenerProductoPorId(int.Parse(ProductoId));

        // Aquí obtén la lista de imágenes relacionadas con el producto
        imagenes = ObtenerImagenesDelProducto(producto.Id);

        // Establece la imagen actual en la primera de la lista
        imagenIndex = 0;
        imagenActual = imagenes[imagenIndex];
    }

    private Product ObtenerProductoPorId(int id)
    {
        // Aquí deberías implementar la lógica para obtener el producto por su ID
        // Retorna un objeto Product simulado para este ejemplo
        return _productService.GetProductWithAlbumById(id);
        //return new Product
        //{
        //    Album = new Album
        //    {
        //        Name = "Álbum Ejemplo",
        //        Artist = "Artista Ejemplo",

        //    },
        //    Year = DateTime.Now,
        //    //Pictures = "https://contentv2.tap-commerce.com/cover/large/858978005219_1.jpg?id_com=1156",
        //    Description = "Descripción del producto de ejemplo",
        //    //Pictures = new List<ImageFile>().Add()

        //};
    }

    private void IniciarCompra()
    {
        // Implementa la lógica para iniciar la compra del producto
        // Puede ser una redirección a una página de compra o mostrar un formulario de compra
        Navigation.NavigateTo($"/inicio-compra/{producto.Id}");
    }

    private void CambiarEstado()
    {

        _productService.ChangeProductSatus(producto);
        Navigation.NavigateTo($"/detalle-producto/{producto.Id}");
    }

    private void Volver()
    {
        if (!userService.GetUser().Productos.Contains(producto))
        {
            Navigation.NavigateTo("/lista-productos");
        }
        else
        {
            Navigation.NavigateTo("/mis-productos");
        }
        
    }
}
