﻿@page "/publicar"
@*@inject HttpClient Http*@
@using System.Text.RegularExpressions
@using Services.Business;
@using Services.Data;
@inject NavigationManager NavigationManager

<h3>Cargar Disco</h3>

@if (!userService.IsUserLoggedIn())
{
    <p class="error-message">Usted debe estar logueado.</p>
}
else
{
    @if (isSubmitted)
    {
        <p>¡Disco cargado exitosamente!</p>
    }

    @if (errors.Count > 0)
    {
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    }

    <div class="form-group">
        <label for="nombre">Nombre del disco:</label>
        <input id="nombre" class="form-control" @bind="@disco.Name" />
        @if (errors.Contains("nombre"))
        {
            <p class="text-danger">El nombre del disco es obligatorio.</p>
        }
    </div>

    <div class="form-group">
        <label for="artista">Artista:</label>
        <input id="artista" class="form-control" @bind="@disco.Artist" />
        @if (errors.Contains("artista"))
        {
            <p class="text-danger">El nombre del artista es obligatorio.</p>
        }
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <input id="precio" class="form-control" type="number" step="0.01" @bind="@producto.Price" />
        @if (errors.Contains("precio"))
        {
            <p class="text-danger">El precio es obligatorio y debe ser un número válido.</p>
        }
    </div>

    <div class="form-group">
        <label for="año">Año:</label>
        <input id="año" class="form-control" type="number" @bind="@disco.Year" />
        @if (errors.Contains("año"))
        {
            <p class="text-danger">El año es obligatorio y debe tener un formato válido.</p>
        }
    </div>
    <div style="text-align: right;">
        <button class="btn btn-primary" @onclick="CargarDisco">Continuar</button>
    </div>
}

<style>
    .error-message {
        color: red;
        font-weight: bold;
        /* Otros estilos según tus preferencias */
    }
</style>
@code {
    private Album disco = new Album();
    private Product producto = new Product();
    private List<string> errors = new List<string>();
    private bool isSubmitted = false;

    [Inject]
    private UserService userService { get; set; }

    private void CargarDisco()
    {
        errors.Clear();

        if (string.IsNullOrWhiteSpace(disco.Name))
        {
            errors.Add("El nombre del disco es obligatorio.");
        }

        if (string.IsNullOrWhiteSpace(disco.Artist))
        {
            errors.Add("El nombre del artista es obligatorio.");
        }

        if (string.IsNullOrWhiteSpace(producto.Price))
        {
            errors.Add("El precio es obligatorio.");
        }
        else if (!decimal.TryParse(producto.Price, out _))
        {
            errors.Add("El precio debe ser un número válido.");
        }

        if (string.IsNullOrWhiteSpace(disco.Year))
        {
            errors.Add("El año es obligatorio.");
        }
        else if (!Regex.IsMatch(disco.Year, @"^\d{4}$"))
        {
            errors.Add("El año debe tener un formato válido (YYYY).");
        }

        if (errors.Count == 0)
        {
            //NavigationManager.NavigateTo("/publicar/segundo-paso");

            var queryParams = $"nombre={disco.Name}&artista={disco.Artist}&precio={producto.Price}&año={disco.Year}";
            var url = $"/publicar/segundo-paso?{queryParams}";

            NavigationManager.NavigateTo(url);

        }
    }

    public void ValidarUsuarioLogueado()
    {
        
    }

}
