﻿@page "/publicar/segundo-paso"
@using Services.Business;
@using Services.Data;
@*@inject HttpClient Http*@
@inject NavigationManager NavigationManager
@*@inject HttpClient Http*@
<h3>PublishSecondStep</h3>

<h3>Cargar Disco - Segundo Paso</h3>

@if (isSubmitted)
{
    <p>¡Disco cargado exitosamente!</p>
}

@if (errors.Count > 0)
{
    <ul>
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

<div class="input-group">
    <div class="custom-file">
        <InputFile class="custom-file-input" multiple OnChange="OnChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
        <label class="custom-file-label" for="inputFile">Choose file</label>
    </div>
    <div class="input-group-append">
        <button class="btn btn-success" @onclick="Upload" disabled="@isDisabled">Upload</button>
    </div>
</div>

<div class="form-group">
    <label for="estado">Estado del producto:</label>
    <select id="estado" class="form-control" @bind="@producto.State">
        <option value="">Seleccione el estado</option>
        <option value="Nuevo">Nuevo</option>
        <option value="Usado">Usado</option>
    </select>
    @if (errors.Contains("estado"))
    {
        <p class="text-danger">Debe seleccionar un estado para el producto.</p>
    }
</div>

<div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" class="form-control" @bind="@producto.Description"></textarea>
    @if (errors.Contains("descripcion"))
    {
        <p class="text-danger">La descripción es obligatoria.</p>
    }
</div>

<div style="text-align: right;">
    <button class="btn btn-primary" @onclick="CargarDisco">Finalizar</button>
</div>


@code {
    private Product producto = new Product();
    private List<string> errors = new List<string>();
    private bool isSubmitted = false;

    [Inject]
    private UserService userService { get; set; }
    [Inject]
    private ProductService _productService { get; set; }


    private Album disco = new Album();

    protected override void OnInitialized()
    {
        var queryParams = NavigationManager.Uri.Split('?')[1]; // Obtener los parámetros de consulta
        var queryParameters = System.Web.HttpUtility.ParseQueryString(queryParams);

        disco.Name = queryParameters["nombre"];
        disco.Artist = queryParameters["artista"];
        producto.Price = queryParameters["precio"];
        disco.Year = queryParameters["año"];

        producto.Album = disco;
    }







    private async void CargarDisco()
    {
        errors.Clear();

        if (string.IsNullOrWhiteSpace(producto.State))
        {
            errors.Add("Debe seleccionar un estado para el producto.");
        }

        if (string.IsNullOrWhiteSpace(producto.Description))
        {
            errors.Add("La descripción es obligatoria.");
        }

        if (errors.Count == 0)
        {

            //Esto funciona
            producto.Name = producto.Album.Name;
            producto.Category = "nuevo";
            producto.Owner = userService.GetUser();
            var uploadSuccess = await _productService.UploadProductAsync(producto);
            if (!uploadSuccess)
            {
                // Manejar el fallo en la carga del producto (mostrar error, registro, notificación, etc.)
                return;
            }
            isSubmitted = true;
            //fin esto funciona
            NavigationManager.NavigateTo("/publicacion-exitosa");
        }
    }




    //List<ImageFile> filesBase64 = new List<ImageFile>();
    ImageFile fileBase64 = new ImageFile();
    string message = "InputFile";
    bool isDisabled = false;

    async Task OnChange2(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(); // get the files selected by the users
        foreach (var file in files)
        {
            var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480); // resize the image file
            var buf = new byte[resizedFile.Size]; // allocate a buffer to fill with the file's data
            using (var stream = resizedFile.OpenReadStream())
            {
                await stream.ReadAsync(buf); // copy the stream to the buffer
            }
            //filesBase64.Add(new ImageFile { Data = buf, ContentType = file.ContentType, FileName = file.Name }); // convert to a base64 string!!
            fileBase64 = (new ImageFile { Data = buf, ContentType = file.ContentType, FileName = file.Name }); // convert to a base64 string!!
        }
        message = "Click UPLOAD to continue";
    }

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(); // obtener los archivos seleccionados por los usuarios

        foreach (var file in files)
        {
            var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480); // redimensionar el archivo de imagen
            var buf = new byte[resizedFile.Size]; // asignar un búfer para llenar con los datos del archivo

            using (var stream = resizedFile.OpenReadStream())
            {
                await stream.ReadAsync(buf); // copiar el flujo al búfer
            }

            // Convertir los bytes en una cadena base64
            var base64String = Convert.ToBase64String(buf);

            // Asignar la cadena base64 a tu variable fileBase64 (supongo que es una variable fuera de este método)
            producto.Picture = base64String;
        }

        message = "Haga clic en SUBIR para continuar";
    }

    async Task Upload()
    {
        isDisabled = true;
    }



}

