﻿@page "/registro"
@using Services.Business;
@inject NavigationManager NavigationManager;

<h3>Registro</h3>

<div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" class="form-control" @bind="@nombre" />
    @if (string.IsNullOrWhiteSpace(nombre) && hasSubmitted)
    {
        <p class="text-danger">El nombre es obligatorio.</p>
    }
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" class="form-control" @bind="@email" />
    @if ((string.IsNullOrWhiteSpace(email) || !IsValidEmail(email)) && hasSubmitted)
    {
        <p class="text-danger">El email es obligatorio y debe ser válido.</p>
    }
</div>

<div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" class="form-control" @bind="@password" />
    @if (string.IsNullOrWhiteSpace(password) && hasSubmitted)
    {
        <p class="text-danger">La contraseña es obligatoria.</p>
    }
</div>

<button class="btn btn-primary" @onclick="Registrarse">Registrarse</button>

@code {
    private string nombre;
    private string email;
    private string password;
    private bool hasSubmitted = false;

    [Inject]
    private UserService _userService { get; set; }
    private async Task Registrarse()
    {
        hasSubmitted = true;

        // Verificar si hay errores antes de continuar
        if (string.IsNullOrWhiteSpace(nombre) || string.IsNullOrWhiteSpace(email) || !IsValidEmail(email) || string.IsNullOrWhiteSpace(password))
        {
            return; // No hagas nada si hay errores
        }
        await _userService.RegisterUserAsync(nombre, email, password);
        // Aquí puedes agregar la lógica para registrar al usuario
        // por ejemplo, enviar los datos al servidor
        // y redirigir a otra página después del registro exitoso

        // Por ahora, solo mostraremos un mensaje de éxito en la consola
        Console.WriteLine("Registro exitoso!");
        NavigationManager.NavigateTo("/registro-exitoso");
    }

    private bool IsValidEmail(string email)
    {
        try
        {
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }
}
